
#wrapper{
    margin-left:10%;
    margin-right: 10%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    
    
}

#header{

    text-align: center;
    border:1px solid;
    background-color: rgba(16, 111, 87, 0.732);
    color:white;
    margin-bottom: -0.5%;
    width: 78%;


}
#menu{
    margin-top: 2.5px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    word-spacing: 30px;
    border:1px solid;
    background-color: black;
    top: 2px;
    width: 77%;
    
    
}

#menu a{
    text-decoration: none;
}
